<div class="row">
	<div class="card-body table-responsive">
		<h6 class="main_title1 text-danger">  2023İl yaz Semestr Dərs cədvəli</h6>

		<div id="preview" class="noprint">
			<table id="t_list_item" border="1" cellspacing="0" cellpadding="0" width="100%" bordercolor="#b6bbc0" class="noprint" style="border-collapse:collapse; display:none;">
				<tbody>
					<tr>
						<td width="110px" align="center" class="list_title2" style="padding-top:5px;padding-bottom:5px;"><a onclick="item_edit('S03000000', '', 'list', '')">Bənd</a><br>Seçmək<input type="checkbox" name="" value="" onclick="check_all_input2(eeaa.check_item, this, 'list_item', 'list_txt');"></td>
						<td class="list_text1" style="padding-left:5px;">
						</td>
					</tr>
					<tr>
						<td width="110px" align="center" class="list_title2" style="padding-top:5px;padding-bottom:5px;">Seçilənlərin sıralanması</td>
						<td class="list_text1" id="list_txt" style="padding-left:5px;font-weight:bold;">|</td>
					</tr>
				</tbody>
			</table>
		</div>
		<table id="op_list" class="table table-bordered bg-light" cellspacing="0" border="1" cellpadding="0" width="100%">
			<thead class="text-center">
				<!-- <tr> -->
				<tr>
					<th>Dərs</th>
					<th>Bazar ertəsi</th>
					<th>Çərşənbə axşamı</th>
					<th>Çərşənbə</th>
					<th>Cümə axşamı</th>
					<th>Cümə</th>
					<th>Şənbə</th>
					<!-- </tr> -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<td align="center" class="list_text1">1<br>(09:00~10:20)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">2<br>(10:30~11:50)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">3<br>(12:00~13:20)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">4<br>(13:35~14:55)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">5<br>(15:05~16:25)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">6<br>(16:35~17:55)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">7<br>(18:30~19:50)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
				<tr>
					<td align="center" class="list_text1">8<br>(20:00~21:20)</td>
					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

					<!-- <td align="center" class="list_text1"  ></td> -->
					<td align="center" class="list_text1"></td>

				</tr>
			</tbody>
			<input type="hidden" name="str_list" value="">
		</table>
		<!-- 	</td>
		</tr> -->
		<!-- </table> -->


	</div>


	<script type="text/javascript">

		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});

	</script>

	<style type="text/css">
		.tooltip > .tooltip-inner {
			background: #00cc66;
			background-color: #00cc66;
			color: #FFFFFF;
			border: 1px solid green;
			padding: 5px;
			font-size: 15px;
			opacity: 1.0;
			filter: alpha(opacity=100);
			/*border: 1px solid;
		  padding: 10px;
		  max-width: 450px;
		  color: black;
		  text-align: left;
		  background-color: white;
		  background: white;

		  opacity: 1.0;
		  filter: alpha(opacity=100);
		*/
		}

		.tooltip.show {
			opacity: 1;
		}
	</style>



</div>