@using Entities.Koica;
@model ICollection<GroupSubject>

<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="typcn typcn-th-small-outline menu-icon"></i>
        <span class="menu-title">Fənlər</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">

            @foreach (GroupSubject groupSubject in Model)
            {
                <li><a style="font-size: 13.5px" asp-route-id="@groupSubject.Subject.Id" asp-controller="Subjects"
                asp-action="Notification">@groupSubject.Subject.Name</a></li>
            }
        </ul>
    </div>
</li>