<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="profile-user-box">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="">
                            <h4 style="padding-top: 15px;" class="mt-3 m-b-5 font-18 ellipsis">Tağızadə Əli</h4>
                            <p class="font-13"> Tələbə</p>
                            <p class="text-muted m-b-0"></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div style="padding-top: 35px;">
                            <button type="button" class="btn btn-success waves-effect waves-light" id="pwd-change"><i class="mdi mdi-account-settings-variant m-r-5"></i>Redaktə et</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row mt-5">
    <div class="col-sm-12">
        <div class="card p-0">
            <div class="card-body p-0">
                <ul class="nav nav-tabs profile-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#aboutme">Tələbə haqqında məlumat</a></li>
                </ul>
                <div class="tab-content m-0 p-4">
                    <div id="aboutme" class="tab-pane active">
                        <div class="profile-desk">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <td><b>İdentifikator</b></td>
                                        <td>
                                            202006132
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Şifahi İmtahan parolu</b></td>
                                        <td>
                                            231600202
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Test İmtahan parolu</b></td>
                                        <td>
                                            873687162
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Soyadı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                Tağızadə
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Adı</b></td>
                                        <td class="ng-binding">Əli</td>
                                    </tr>
                                    <tr>
                                        <td><b>Atasının adı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                Taqit
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Şəxsiyyət vəsiqəsinin seriya və nömrəsi</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                214043
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Cinsi</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                Kişi
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Təhsil növü</b></td>
                                        <td class="ng-binding">Ödənişli</td>
                                    </tr>
                                    <tr>
                                        <td><b>İngilis dili adı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Telefon</b></td>
                                        <td>
                                            <a class="ng-binding">

                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Ünvanı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Mobil telefon</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                555075158
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Təhsil forması</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                Əyani
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Bölməsi</b></td>
                                        <td class="ng-binding">Rus dili</td>
                                    </tr>
                                    <tr>
                                        <td><b>Fakültənin adı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                İnformasiya və telekommunikasiya texnologiyaları
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Kafedranın adı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>İxtisas adı</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                Radiotexnika və telekommunikasiya mühəndisliyi
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>İxtisaslaşma</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Doğum tarixi</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Kurs</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                III kurs
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Statusu </b></td>
                                        <td>
                                            <a class="ng-binding">
                                                təhsil alir
                                            </a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td><b>Orta məktəb</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>


                                        </td>

                                    </tr>
                                    <tr>
                                        <td><b>Orta məktəbi bitirdiyi tarix</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>


                                        </td>
                                    </tr>
                                    <tr>
                                        <td><b>Qəbul olma tarixi</b></td>
                                        <td>
                                            <a class="ng-binding">
                                                20201509
                                            </a>


                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Bitirdiyi tarix</b></td>
                                        <td>
                                            <a class="ng-binding">
                                            </a>


                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- end profile-desk -->
                    </div> <!-- about-me -->
                    <!-- Activities -->
                    <div id="user-activities" class="tab-pane">
                        <div class="timeline-2">
                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">5 minutes ago</div>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">30 minutes ago</div>
                                    <p><a href="#" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">59 minutes ago</div>
                                    <p><a href="#" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">5 minutes ago</div>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">30 minutes ago</div>
                                    <p><a href="#" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info ml-3 mb-3">
                                    <div class="text-muted">59 minutes ago</div>
                                    <p><a href="#" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- settings -->
                    <div id="edit-profile" class="tab-pane">
                        <div class="user-profile-content">
                            <form role="form">
                                <div class="form-group">
                                    <label for="FullName">Full Name</label>
                                    <input type="text" value="John Doe" id="FullName" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" value="first.last@example.com" id="Email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Username">Username</label>
                                    <input type="text" value="john" id="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="RePassword">Re-Password</label>
                                    <input type="password" placeholder="6 - 15 Characters" id="RePassword" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="AboutMe">About Me</label>
                                    <textarea style="height: 125px;" id="AboutMe" class="form-control">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</textarea>
                                </div>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                        </div>
                    </div>


                    <!-- profile -->
                    <div id="projects" class="tab-pane">
                        <div class="row m-t-10">
                            <div class="col-md-12">
                                <div class="portlet">
                                    <!-- /primary heading -->
                                    <div id="portlet2" class="panel-collapse collapse show">
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Project Name</th>
                                                            <th>Start Date</th>
                                                            <th>Due Date</th>
                                                            <th>Status</th>
                                                            <th>Assign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-info">Work in Progress</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>Velonic Frontend</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-success">Pending</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>3</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-pink">Done</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>4</td>
                                                            <td>Velonic Frontend</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-purple">Work in Progress</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                        <tr>
                                                            <td>5</td>
                                                            <td>Velonic Admin</td>
                                                            <td>01/01/2015</td>
                                                            <td>07/05/2015</td>
                                                            <td><span class="label label-warning">Coming soon</span></td>
                                                            <td>Coderthemes</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>