@using WebApplication1.ViewModels.Account;
@model RegisterStudentVM

<style>
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
        font-size: 1rem;
        line-height: 2.15;
        padding-left: .75em;
        padding-right: .75em;
    }

    .card-registration .select-arrow {
        top: 13px;
    }
</style>



<section class="h-100 bg-dark">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                 alt="Sample photo" class="img-fluid"
                                 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <div asp-validation-summary="ModelOnly"></div>

                                <h3 class="mb-5 text-uppercase">Student registration form</h3>

                                <div class="row">
                                    <form method="post">
                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="FullName" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="FullName"></label>
                                                <span class="text-danger" asp-validation-for="FullName"></span>

                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline">
                                                <input asp-for="UserName" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="UserName"></label>
                                                <span class="text-danger" asp-validation-for="UserName"></span>

                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline mb-4">
                                                <input asp-for="Email" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="Email"></label>
                                                <span class="text-danger" asp-validation-for="Email"></span>

                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline mb-4">
                                                <input asp-for="Password" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="Password"></label>
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-4">
                                            <div class="form-outline mb-4">
                                                <input asp-for="ConfirmPassword" class="form-control form-control-lg" />
                                                <label class="form-label" asp-for="ConfirmPassword"></label>
                                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6 mb-4">
                                                <h6 class="mb-0 me-4 d-inline">Group: </h6>
                                                <select asp-for="Group">
                                                    <option value="610r">610r</option>
                                                    <option value="650i">650i</option>
                                                    <option value="561m">561m</option>
                                                </select>

                                            </div>
                                        </div>


                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="button" class="btn btn-light btn-lg">Reset all</button>
                                            <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                                        </div>
                                    </form>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>