@using Entities.Koica;
@model Subject

@await Html.PartialAsync("_SubjectsPartialView")



<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body table-responsive">
					<div id="preview" class="noprint">
						<table border="0" cellspacing="0" width="100%" class="noprint">
							<tbody>
								<tr>

									<td align="right">
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<table id="op_list" border="1" cellspacing="0" cellpadding="0" width="100%" bordercolor="#b6bbc0" class="table table-striped table-bordered" style="border-collapse:collapse;">

						<thead>
							<tr>
								<th width="50px" align="center" class="list_title1">Nömrə</th>
								<th width="500px" align="center" valign="middle" class="list_title1 text-center" style="word-break:keep-all;  ">Movzu</th>
								<th width="500px" align="center" valign="middle" class="list_title1 text-center" style="word-break:keep-all;  ">Müəllif</th>
								<th width="500px" align="center" valign="middle" class="list_title1 text-center" style="word-break:keep-all;  ">Tarix</th>
								<th width="500px" align="center" valign="middle" class="list_title1 text-center" style="word-break:keep-all;  ">Müraciətlərin sayı</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td align="center" colspan="5" class="list_text1">Qeyd olunmuş material yoxdur</td>
							</tr>
						</tbody>
						<input type="hidden" name="str_list" value="">
					</table>
					<table border="0" cellspacing="0" width="100%" class="noprint">
						<tbody>
							<tr>
								<td height="30px" align="center">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>
