@using WebApplication1.Areas.Koica.ViewModels;
@model CreateForumVM
@{
    int getId = Convert.ToInt32(Url.ActionContext.RouteData.Values["id"]);
    Model.RouteId = getId;
}


<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg" role="document">
        <form method="post" asp-controller="Subjects" asp-action="CreateForum" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLiveLabel">Forum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="RouteId"></>
                    <div class="form-group" style="width: 50%;">
                        <label asp-for="Topic"></label>
                        <input asp-for="Topic" class="form-control">
                    </div>

                    <div class="form-group">
                        <textarea asp-for="Content" cols="50" rows="10"></textarea>
                    </div>


                    <div class="form-group">
                        <label asp-for="File"></label>
                        <input asp-for="File" class="form-control-file">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Bağla</button>
                    <button type="submit" class="btn btn-primary">Əlavə et</button>
                </div>
            </div>
        </form>
    </div>
</div>

